<section *ngIf="viewModel" class="todoapp">
    <header class="header">
        <h1> todos </h1>
        <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="viewModel.newTodoTitle" (keyup.enter)="add($event)" />
    </header>
    <section class="main">
        <input type="checkbox" class="toggle-all" [checked]="viewModel.allTodosCompleted" (click)="toggleAll()" />
        <ul class="todo-list">
            <todo-item *ngFor="#todo of viewModel.todos" [todo]="todo" (delete)="delete($event)" (edit)="edit($event)" (toggle)="toggle($event)"></todo-item>
        </ul>
    </section>
    <footer class="footer" *ngIf="viewModel.numTodos > 0">
        <span class="todo-count"><strong>{{ viewModel.numTodosActive }}</strong> item{{ viewModel.numTodosActive == 1 ? '' : 's' }} left</span>
        <ul class="filters">
            <li> <a [routerLink]="['Todos']"> All </a> </li>
            <li> <a [routerLink]="['TodosFiltered', { filter: 'active' }]"> Active </a> </li>
            <li> <a [routerLink]="['TodosFiltered', { filter: 'completed' }]"> Completed </a> </li>
        </ul>
        <button class="clear-completed" *ngIf="viewModel.numTodosCompleted > 0" (click)="removeCompleted()">Clear completed ({{ viewModel.numTodosCompleted }})</button>
    </footer>
</section>
